:root {

}

/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  /*max-inline-size: 700px;*/
  background-image: var(--background-gradient);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*width: var(--section-width);*/
  padding: 0 1%;
  gap: 50px;
  color: var(--decoration-color);
}


.header {

  margin-top: 100px;
  padding-top: 136px;
  font-family: PressStart2P, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--section-width);
  background: var(--background-color);
  border: 2px solid var(--decoration-color);
}

.header_logo-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header__header {
  font-size: 65px;
  line-height: 65px;
  color: var(--decoration-color);
}

.header__subheader {
  font-size: 23px;
  line-height: 23px;
  color: var(--decoration-color);
}

.theme-menu {
  margin: 25px 0;
}

.header__theme-menu {
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__item {
  font-size: 14px;
  line-height: 14px;
}

.theme-menu__button {
  position: relative;
  background: inherit;
  border: none;
}
.theme-menu__button:disabled:before {
  content: "▶";
  position: absolute;
  left: -20px;

}

.content {
  font-family: Inter, sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: var(--section-width);
  margin-top: 50px;
}

.content__article {
  display: flex;
  flex-direction: column;
  /*width: var(--section-width);*/
  background: var(--background-color);
  border: 2px solid var(--decoration-color)
}

.content__article-header {
  font-weight: 700;
  font-size: 18px;
  padding: 3px 10px;
}

.image-wrapper{
  position: relative;
  width: var(--section-width);
}
.content__article-image {
  width: inherit;
  height: calc(var(--section-width) - 1px);
  /*height: 698px;*/
  /*inset: auto;*/

  object-fit: cover;
  object-position: right;
  border-top: 2px solid var(--decoration-color);
  border-bottom: 2px solid var(--decoration-color);


}
.label{
  position: absolute;
  top: 25px;
  right: 25px;
  content: "/html";
  background-color: inherit;
  color:  rgba(0,0,0,1);
  font-family: PressStart2P, serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  mix-blend-mode: hard-light;

  @supports (-webkit-text-stroke: 1px black) {
    -webkit-text-stroke: 1px rgba(255,255,255,1);
    text-shadow: none;
  }
  @supports not (-webkit-text-stroke: 1px black) {
    .image-wrapper:after {
      text-shadow: -1px -1px 0 rgba(255,255,255,1),
      1px -1px 0 rgba(255,255,255,1),
      -1px 1px 0 rgba(255,255,255,1),
      1px 1px 0 rgba(255,255,255,1);
    }
  }
}

.filter-grayscale{
  filter: grayscale(80%);
}
.filter-contrast{
  filter: contrast(80%);
}
.filter-brightness{
  filter: brightness(75%);
}
.filter-glow{
  filter: glow(50%);
}
.filter-grayscale{
  filter: grayscale(80%);
}
.filter-grayscale{
  filter: grayscale(80%);
}
.filter-grayscale{
  filter: grayscale(80%);
}

.content__article-content {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.content__article-text {
  display: block;
}
.content__article-text:first-child{
  margin-bottom: 2px;
}

.content__article-buttons{
  display: flex;
  justify-content: end;
  gap: 12px;
}

.content__article-like-icon {
}

.content__like-button {
  border: none;
  background: inherit;
  width: max-content;
  align-self: end;
}

.card__like-button{
  border: 2px solid var(--decoration-color);
  width: 169px;
  background: inherit;
}
.button__text {
  font-family: PressStart2P, sans-serif;
  font-weight: 400;
  font-size: 14px;

}

.footer {
  padding-bottom: 103px;

}

.footer__button {
  padding: 15px 20px;
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: var(--background-color);
  border: 2px solid var(--decoration-color);
}

.footer__diskette {
}



.upper-case {
  text-transform: uppercase;
}

@media (width <=720px) {
  .page {

  }

}

@media (width <= 500px) {
  .page {
    /*margin: 0;*/
  }
  .header {
    padding-top: 120px;
    width: 100%;
  }
  .header__header {
    font-size: 49px;
  }
  .image-wrapper {
    width: 100%;
  }
  .label {
    right: 13px;
  }
  .footer {
    padding-bottom: 100px;
  }
  .footer__button {
    flex-direction: column;
  }

}

.floppy {
  color: var(--decoration-color);
}