/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  font-family: PressStart2P, serif;

}

.header_logo-group {
}

.header__header {
  font-size: 65px;
  line-height: 65px;
}

.header__subheader {
  font-size: 23px;
  line-height: 23px;
}

.theme-menu {
}

.header__theme-menu {
}

.theme-menu__list {
}

.theme-menu__item {
  font-size: 14px;
  line-height: 14px;
}

.theme-menu__button {
}

.content {
  font-family: Inter, sans-serif;
  font-size: 18px;
}

.content__article {
}

.content__article-header {
  font-weight: 700;
}

.content__article-image {
}
.filter-grayscale{
  filter: grayscale(80%);
}
.filter-contrast{
  filter: contrast(80%);
}
.filter-grayscale{
  filter: grayscale(80%);
}
.filter-grayscale{
  filter: grayscale(80%);
}
.filter-grayscale{
  filter: grayscale(80%);
}
.filter-grayscale{
  filter: grayscale(80%);
}
.filter-grayscale{
  filter: grayscale(80%);
}

.content__article-content {
  font-weight: 400;
  line-height: 21px;
}

.content__article-like-icon {
}

.content__like-button {
}

.footer {
}

.footer__diskette {
}

.footer__description {
}

.upper-case {
  text-transform: uppercase;
}
