/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
/*:root{*/
/*    --background-color: white;*/
/*    --accent-color:white;*/

/*}*/

:root {
    --accent-color: #d3d3d3;
    --background-gradient: repeating-linear-gradient(var(--accent-color), transparent 2px),
    repeating-linear-gradient(90deg, var(--accent-color), transparent 2px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);

    --section-width: clamp(357px, 100%, 700px);
    --background-color: rgba(255, 255, 255, 1);
    --decoration-color: rgba(0, 0, 0, 1);
    --hover-element-color: var(--background-color);
    --heart-color: rgba(255, 0, 0, 1);
    --adaptive-font-weight-bold: 700;
    --adaptive-font-weight-normal: 400;
}